.firstComponent {
  position: relative;
  background-color: aqua;
  margin: 0 auto;
  width: 400px;
}
.firstComponent > h1 {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
